.vscode/**
.vscode-test/**
src/**
!src/views/project form/dist/**
!src/views/project render/dist/**
!src/views/sidebar view/dist/**
!src/assets/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
test/